@import "topography_pattern.scss";

$color1: #5946f6;
$color2: #f8fffd;
$color3: #f7ff3c;
$color4: #080708;
$color5: #dfe6e4;

@function to-string($value) {
    @return inspect($value);
}

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function for-pattern($value) {
    @return str-replace(to-string($value), "#");
}

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

@function randomGrid($min_row, $max_row, $min_column, $max_column, $used_grid) {
    $randomGrid: (randomNum($min_row, $max_row), randomNum($min_column, $max_column));
    @while index($used_grid, $randomGrid) {
        $randomGrid: (randomNum($min_row, $max_row), randomNum($min_column, $max_column));
    }

    @return $randomGrid;
}

@function repeat($character, $n) {
    $c: "";
    @for $i from 1 through $n {
        $c: $c + $character;
    }
    @return ($c + ' ');
}

@mixin svg-color($svg, $color) {
    background-color: $color;
    $svg: unquote($svg);
    mask: url($svg) no-repeat center;
    -webkit-mask: url($svg) no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}

@mixin card_container {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: fit-content;
    scroll-snap-type: x proximity;
    min-width: 0;
}

@mixin card {
    display: flex;
    flex-direction: column;
    height: 75%;

    @media screen and (min-device-width:30em) {
        width: 20%;
    }

    @media screen and (max-device-width:30em) {
        width: 85%;
    }

    min-width: 16.7022rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
    transition: 0.3s;
    color: $color2;
    scroll-snap-align: center;

    &:nth-of-type(1) {
        margin-left: 0;
    }

    &:nth-last-of-type(1) {
        margin-right: 0;
    }

    @media screen and (min-device-width:30em) {
        &:hover {
            transition: 0.3s;
            transform: scale(1.05);
    
            div.explanation {
                opacity: 1;
            }
        }
    }
}

@mixin card__image {
    flex-grow: 1;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% auto;
}

@mixin card__more {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: flex-end;
    color: $color2;

    p {
        margin: 0;
    }
}

@mixin card__icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.3rem;
}

html {
    background-color: $color2;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    font-style: 16px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    cursor: default;
    font-family: "Barlow", sans-serif;
    color: $color4;

    section {
        display: flex;
        flex-direction: column;
        width: calc(100% - 4rem);
        height: calc(100vh - 4rem);
        height: calc((var(--vh, 1vh) * 100) - 4rem);
        scroll-snap-align: start;
        padding: 2rem;

        h2 {
            font-size: 1.7rem;
        }

        &.homepage {
            height: 100vh; /* Fallback for browsers that do not support Custom Properties */
            height: calc(var(--vh, 1vh) * 100);
            width: 100%;
            background-position: top 50% left 50%;
            background-color: $color2;
            background-image: pattern(for-pattern($color1), "0.1");
            justify-content: center;
            align-items: center;
            padding: 0;

            div.download {
                position: absolute;
                display: flex;
                right: 20px;
                top: 20px;
                align-items: center;
                padding: 7.5px;
                background-color: $color2;
                border-radius: 7.5px;
                width: fit-content;
                cursor: pointer;

                * {
                    color: $color4;
                    margin: 0;
                    white-space: nowrap;
                }

                div.svg.download-icon {
                    @include svg-color("../res/download.svg", $color4);
                    height: 1rem;
                    width: 1rem;
                    padding: 0 5% 0 0;
                }
            }

            div.presentation {
                h1 {
                    width: fit-content;
                    color: $color2;
                    font-family: "Spectral", serif;
                    margin: 0;
                    font-size: 3.5rem;

                    span {
                        background: $color1;
                        padding: 0 0.4em;

                        $bd-rad-txt: 7.5px;

                        &:nth-of-type(1) {
                            border-radius: $bd-rad-txt $bd-rad-txt 0;
                        }

                        &:nth-of-type(2) {
                            border-radius: 0 $bd-rad-txt $bd-rad-txt $bd-rad-txt;
                            margin-left: 0.6em;
                        }
                    }
                }

                h3 {
                    text-align: center;
                    color: $color1;
                    font-weight: 400;
                }
            }

            nav {
                position: absolute;
                bottom: calc(20% - 2rem);

                ul {
                    display: flex;
                    flex-flow: row wrap;
                    padding: 0;
                    margin: 0;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: $color4;

                        li {
                            list-style: none;
                            float: left;
                            flex-grow: 1;
                            text-align: center;
                            border-radius: 7.5px;
                            cursor: pointer;
                            $transition: 0.3s;
                            transition: $transition;
                            line-height: 2rem;
                            margin: 0 1rem;

                            @media screen and (min-device-width:30em) {
                                &:hover {
                                    transform: scale(1.2);
                                    transition: $transition;

                                    &::before {
                                        width: 100%;
                                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                                        transition: $transition;
                                    }
                                }

                                &::before {
                                    display: block;
                                    transform: scale3d(1, 1, 1);
                                    background: #f7ff3c;
                                    content: "";
                                    position: absolute;
                                    z-index: -1;
                                    bottom: 0;
                                    height: 33%;
                                    transition: transform 0.5s;
                                    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
                                    box-sizing: border-box;
                                    width: 0;
                                    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
                                    transition: $transition;
                                    margin-left: 0.3rem;
                                    margin-bottom: 0.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.skills {
            display: inline-block;
            
            .skills__content {
                flex-grow: 1;

                @media screen and (min-device-width:30em) {
                    display: grid;
                }

                @media screen and (max-device-width:30em) {
                    flex-direction: column;
                    width: 100%;

                    & > * {
                        margin: 1.5rem 0 !important;
                    }
                }

                $number_of_columns: 3;
                $number_of_rows: 3;
                grid-template-columns: unquote(repeat((100% / $number_of_columns), $number_of_columns));
                grid-template-rows: unquote(repeat((100% / $number_of_rows), $number_of_rows));

                width: calc(100% - 4rem);
                height: calc(100vh - 4rem);
                height: calc((var(--vh, 1vh) * 100) - 4rem);

                .skill {
                    margin: 1rem;
                    $used_grid: ();

                    header {
                        display: flex;

                        div.skill__icon {
                            $width_icon: 24px;
                            height: $width_icon;
                            width: $width_icon;
                            min-height: 24px;
                            min-width: 24px;
                            max-height: 24px;
                            max-width: 24px;
                            margin-right: ($width_icon / 2);
                        }

                        h3 {
                            margin: 0;
                            font-size: 1.17em;
                        }
                    }

                    $i: 1;
                    $j: 1;
                    @each $el in "frontend", "backend", "mobile", "bdandml", "uiux", "language", "others" {
                        &.#{$el} {
                            // $grid_position: randomGrid(1, $number_of_columns, 1, $number_of_rows, $used_grid);
                            // $used_grid: append($used_grid, $grid_position);
                            // grid-column: nth($grid_position, 1);
                            // grid-row: nth($grid_position, 2);

                            grid-column: $i;
                            grid-row: $j;
                            @if $i < $number_of_columns {
                                $i: $i + 1;
                            } @else {
                                $i: 1;
                                $j: $j + 1;
                            }

                            header {
                                div.skill__icon {
                                    @include svg-color("../res/#{$el}_icon.svg", $color4);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.experience {
            .experience__content {
                flex-grow: 1;
                @include card_container;

                div.project {
                    @include card;

                    div.project__image {
                        @include card__image;
                    }

                    &.opews {
                        background-image: linear-gradient(165deg, #ef333c, #df2b34);

                        div.project__image {
                            background-image: url(../res/opews.png);
                        }
                    }

                    &.beatter {
                        background-image: linear-gradient(165deg, #e8f1f2, #dee8e9);

                        div.project__image {
                            background-image: url(../res/beatter.png);
                        }

                        .project__header,
                        .project__more {
                            color: #070002;

                            .project__icon {
                                background-color: #070002 !important;
                            }
                        }
                    }

                    &.withings {
                        background-image: linear-gradient(165deg, #6a7ee0, #8595e6);

                        div.project__image {
                            background-image: url(../res/withings.png);
                        }
                    }

                    &.magneti {
                        background-image: linear-gradient(165deg, #ffd147, #ffc105);

                        div.project__image {
                            background-image: url(../res/magneti.png);
                            background-size: 50% auto;
                        }
                    }

                    header {
                        h3 {
                            margin: 0;
                            font-size: 1.5rem;
                            font-weight: 700;

                            span {
                                font-size: 0.6rem;
                                font-weight: 400;
                            }
                        }

                        p {
                            font-size: 0.8rem;
                            font-weight: 200;
                        }
                    }

                    a.project__more {
                        @include card__more;

                        .project__icon {
                            @include card__icon;
                        }

                        p {
                            margin: 0;
                        }

                        &.project__github-btn {
                            div {
                                @include svg-color("../res/github.svg", $color2);
                            }
                        }

                        &.project__report {
                            div {
                                @include svg-color("../res/download.svg", $color2);
                            }
                        }
                    }

                    //                div.explanation {
                    //                    opacity: 0;
                    //                    background: linear-gradient(0deg, rgba(8, 7, 8, 0.5) 0%, transparent 100%);
                    //                    position: absolute;
                    //                    width: calc(100% - 2rem);
                    //                    margin-left: -1rem;
                    //                    bottom: 0;
                    //                    padding: 1rem;
                    //                    border-radius: 0 0 1.5rem 1.5rem;
                    //                    max-height: 50%;
                    //                    transition: .3s;
                    //
                    //                    p {
                    //                        font-size: 0.8rem;
                    //                        font-weight: 200;
                    //                        text-overflow: ellipsis;
                    //                        overflow: hidden;
                    //                    }
                    //                }
                }
            }
        }

        &.medialib {
            .medialib__content {
                flex-grow: 1;
                @include card_container;

                .media {
                    @include card;

                    &.le-monde-selon-amazon {
                        background-image: linear-gradient(165deg, #f7965a, #fc9f65);

                        div.media__image {
                            background-image: url(../res/le-monde-selon-amazon.jpg);
                        }
                    }

                    &.permanent-record {
                        background-image: linear-gradient(165deg, #ddc934, #e9d53e);

                        div.media__image {
                            background-image: url(../res/permanent-record.jpg);
                        }
                    }

                    &.mark-zuckerberg {
                        background-image: linear-gradient(165deg, #3c4784, #444f8f);

                        div.media__image {
                            background-image: url(../res/mark-zuckerberg.jpg);
                        }
                    }

                    &.accedez-au-sommet {
                        background-image: linear-gradient(165deg, #0988da, #1b99ec);

                        div.media__image {
                            background-image: url(../res/accedez-au-sommet.jpg);
                        }
                    }

                    &.l-art-de-la-victoire {
                        background-image: linear-gradient(165deg, #e40025, #e40025);

                        div.media__image {
                            background-image: url(../res/l-art-de-la-victoire.jpg);
                        }
                    }

                    &.on-m-avait-dit {
                        background-image: linear-gradient(165deg, #69615d, #6d6561);

                        div.media__image {
                            background-image: url(../res/on-m-avait-dit.jpeg);
                        }
                    }

                    &.steve-jobs {
                        background-image: linear-gradient(165deg, #d4d4d4, #e6e6e6);

                        div.media__image {
                            background-image: url(../res/steve-jobs.jpg);
                        }

                        .media__header,
                        .media__more {
                            color: #070002;

                            .media__icon {
                                background-color: #070002 !important;
                            }
                        }
                    }

                    &.innovators {
                        background-image: linear-gradient(165deg, #0f0f0f, #222121);

                        div.media__image {
                            background-image: url(../res/innovators.jpeg);
                        }
                    }

                    &.elon-musk {
                        background-image: linear-gradient(165deg, #febf6c, #ffc77d);

                        div.media__image {
                            background-image: url(../res/elon-musk.jpg);
                        }
                    }

                    .media__header {
                        @extend .project__header;

                        h3 {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                    }

                    .media__image {
                        @include card__image;
                        background-size: auto 75% !important;
                    }

                    .media__more {
                        @include card__more;

                        .media__icon {
                            @include card__icon;
                        }

                        &.media__wikipedia {
                            div {
                                @include svg-color("../res/wikipedia.svg", $color2);
                            }
                        }
                    }
                }
            }
        }

        &.contact {
            @media screen and (min-device-width:30em) {
                height: 33vh; /* Fallback for browsers that do not support Custom Properties */
                height: calc(var(--vh, 1vh) * 33);
            }
            @media screen and (max-device-width:30em) {
                height: 15vh; /* Fallback for browsers that do not support Custom Properties */
                height: calc(var(--vh, 1vh) * 15);
            }

            width: 100%;
            background-color: $color1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 0;

            a {
                padding: 20px;
                border-radius: 50%;
                background-color: transparent;
                $transition: 0.3s;
                transition: $transition;

                &:hover {
                    @media screen and (min-device-width:30em) {
                        background-color: $color2;
                        transition: $transition;
                        transform: scale(1.2);

                        div.svg {
                            background-color: $color1 !important;
                            transition: $transition;
                        }
                    }
                }

                div.svg {
                    padding: 0;
                    height: 24px;
                    width: 24px;

                    @each $el in "phone", "mail", "github", "twitter", "medium" {
                        &.#{$el}-icon {
                            @include svg-color("../res/" + $el + ".svg", $color2);
                            transition: $transition;
                        }
                    }
                }
            }
        }
    }
}
