@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Solway&display=swap');
/*
    font-family: 'Solway', serif;
    font-family: 'Roboto', sans-serif;
*/

body{
  background-color: rgb(195,9,4);
}

#title{
  font-family: 'Solway', serif;
	color: white;
	margin: 10px 10px 20px 10px;
	font-size: 1.7em;
  text-align: center;
}

figure{
  width: 256px;
  margin-top: 0px;
}

.captionImg{
  color: white;
  font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
  text-align: center;
  margin-bottom: 10px;
}

.images{
  width: 256px;
  height: auto;
}

/*#text-down{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: white;
	margin-top: auto;
	margin-bottom: auto;
}*/

/*#scroll-button{
	display: flex;
	position: fixed;
	bottom: 1vh;
	right: 0;
	width: 100%;
	justify-content: center;
	margin: 0px;
}*/

#changePage{
  	display: flex;
  	position: fixed;
  	bottom: 1vh;
  	right: 0;
  	width: 100%;
  	justify-content: center;
  	margin: 0px;
}

#indicatorsPage{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: white;
	margin-top: auto;
	margin-bottom: auto;
  min-width: 2.7%;
  min-height: auto;
}

.linkIcon{
	color: white;
	height: 1.2em;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0 1% 0 1%;
  min-width: 2.7%;
  min-height: auto;
}

/*#linkIcon{
	color: white;
	height: 1.2 em;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 1%;
}*/

#content{
  width: 100%;
  height: auto;
}

#asterixParents{
  float: right;
}

.images{
  width: 256px;
  height: auto;
}

.captionImg{
  color: white;
  font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
  text-align: center;
  margin-bottom: 10px;
}

#creation, #goscinny, #uderzo{
  color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
  text-align: justify;
  line-height: 1.5em;
}

#creators{
  float: right;
}
