@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700|Open+Sans&display=swap');

body{
  margin:0;
  height:100%;
}

canvas{
    position:absolute;
    top:0;
    left:0;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, red),
        color-stop(0.84, red)
    );

    z-index: 0;
}

img{
  /*! position: absolute; */
  /*! z-index: 1; */
  height: 100%;
  width: auto;
  /*! left: 50%; */
  /*! top: 50%; */
  /*! transform: translateX(-50%) translateY(-50%); */
  justify-content: center;
}

.texte{
  /*! position: relative; */
  /*! z-index: 1; */
  /*left: 50%;
  transform: translateX(-50%);
  bottom: 5%;*/
}

.texte p{
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1{
  position: absolute;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 2.3em;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}
