header{
  height: 75%;
}

.logo{
  height: 100%;
  width: auto;
}

table{
  width: 50%;
}

.text-in-table::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.text-in-table:hover::after{
  width: 100%;
}

section .row{
  width: 100vw;
}

section .website-article{
  width: 40vw;
}

svg.social-networks{
  transition: all .3s cubic-bezier(0.47, 0, 0.75, 0.72);
  filter: invert(0);
  fill: #000000;
}

svg.social-networks:hover {
    filter: invert(1);
    transition: all .3s cubic-bezier(0.47, 0, 0.75, 0.72);
}

section .website-article svg{
  transition: all .3s cubic-bezier(0.47, 0, 0.75, 0.72);
  filter: invert(0);
  fill: #fafafa;
}

section .website-article svg:hover {
    filter: invert(1);
    transition: all .3s cubic-bezier(0.47, 0, 0.75, 0.72);
}
